.matches-section {
  display: flex;
  align-items: center;
  margin-top: 5%;
  margin-left: 5%;
}

.matching-profile-count {
  margin-left: 13%;
}

.matches-section h2 {
  margin: 0;
  padding-right: 10px;
}

.dropdown-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: auto;
  color: white;
  display: inline-block;
}

.new-count-section {
  border: 2px solid white;
  border-radius: 22px;
  max-width: 70px;
  margin-top: 5px;
  padding: 0px;
  height: 30px;
}


@media (max-width: 430px) {
  .matches-section {
    align-items: start;
  }

  .matches-section h2 {
    padding-right: 0;
    text-align: center;
  }

  .dropdown-button {
    margin-top: 10px;
  }

  .matching-profile-count {
    margin-left: 10%;
    font-size: 9px;
  }

  .new-count-section {
    border-radius: 15px;
    margin-top: -5px;
    margin-left: 0px;
    height: 20px;
    padding-top: 1px;
    font-size: 8px;
  }
}