/* styles.css */
body {
    background-color: #1685b2;
    margin: 0;
    height: 100vh;
    color: white;
  }
  
  html {
    height: 100%;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
