.sliding-container {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    gap: 16px;
    overflow-y: hidden;
    scrollbar-width: none;
}

.section {
    min-width: 60%;
    padding: 20px;
    background-color: #1685b2;
}

.section-image {
    width: 650px;
    height: 425px;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.button-style {
    border-radius: 15px;
    margin-right: 2%;
    border: 1px solid darkgrey;
}

.content-class {
    background-color: white;
    width: 650px;
    height: 23%;
    color: black;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.name {
    margin-left: 2%;
}

@media (max-width: 430px) {
    .section-image {
        width: 200px;
        height: 200px;
        overflow: hidden;
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .content-class {
        background-color: white;
        width: 200px;
        height: 50%;
        color: black;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}